# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Environment files
.env
.env.*

# Zip and build artifacts
*.zip
dist/
build/

# Sensitive files
secrets.*